<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>
    <!--CSS Styling-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <!-- CSS link for Datatable Semaintic UI -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.semanticui.min.css" rel="stylesheet">
    <!-- external js -->
    <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet">

    <!--Scripts-->
    <!-- JQuery link for Datatable Semaintic UI -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>


</head>

<body>

    <nav class="navbar navbar-dark navbar-expand-sm">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if session.get('role')=='admin' %}
            <div class="collapse navbar-collapse offset-sm-2" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="active" href="{{url_for('adminHome')}}">Home</a></li>
                    <li class="nav-item"><a class="active" href="{{url_for('create_patient')}}">Create Patient</a></li>
                    <li class="nav-item"><a class="active" href="{{url_for('all_active_patients')}}">All Active
                            Patients</a></li>
                    <li class="nav-item"><a class="active" href="{{url_for('search_patients')}}">Search Patients/Billing</a>
                    </li>
                    <li class="nav-item"><a class="active" href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </div>
            {% endif %}


            {% if session.get('role')=='pharmacist' %}
            <div class="collapse navbar-collapse offset-sm-3" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="active" href="{{url_for('pharmalayout')}}">Home</a></li>

                    <li class="nav-item"><a href="{{url_for('pharma_search_patients')}}">Issue Medicines</a></li>
                    <li class="nav-item"><a href="{{url_for('resupply_medicines')}}">Add/Resupply Medicines</a></li>

                    <li class="nav-item"><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </div>
            {% endif %}


            {% if session.get('role')=='diagnostic' %}
            <div class="collapse navbar-collapse offset-sm-4 row justify-content-center" id="Navbar">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item"><a class="active" href="{{url_for('dialayout')}}">Home</a></li>

                    <li class="nav-item"><a href="{{url_for('diagnostic_search_patients')}}">Issue Test Reports</a></li>
                    <li class="nav-item"><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </div>
            {% endif %}


        </div>
    </nav>
    <div class="row justify-content-center main">
        <div class="col-md-6">
            {% include 'flashmess.html' %}
        </div>

    </div>
    {% block body %}
    {% endblock %}
    {% include 'footer.html' %}

</body>

</html>